:root {
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --blue: #3996DB;
  --green: #82BC4F;
  --purple: #BB72E9;
  --red: #E3646E;
  --yellow: #EABD5F;

  --font-family-asap: "Asap", sans-serif;
  --font-family-inconsolata: "Inconsolata", monospace;
  --font-family-maven: "Maven Pro", sans-serif;

  --title-lg: 700 56px/120% var(--font-family-asap);
  --title-md: 700 24px/120% var(--font-family-asap);
  --title-sm: 700 16px/120% var(--font-family-asap);

  --subtitle: 400 20px/120% var(--font-family-inconsolata);

  --text-md: 400 16px/140% var(--font-family-maven);;
  --text-sm: 400 14px/140% var(--font-family-maven);;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1366px;
  margin-inline: auto;
}

body {
  color: var(--gray-200);
  background-color: var(--gray-500);
  font: var(--text-md);
}
