.profile {
  background-image: url('../assets/backgroundIntro.png');
  background-position: center;
  background-size: cover;

  display: grid;
  margin-top: 120px;
  height: 510px;

  header {
    text-align: center;

    .picture {
      img {
        margin-bottom: 56px;
        height: 112px;
        width: 112px;
     }
    }
    
    .information {
      display: grid;
      justify-content: center;
      gap: 20px;

      .titles {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
        
        h1 {
          color: var(--gray-100);
          font: var(--title-lg);
        }

        h2 {
          font: var(--subtitle);

          span {
            color: var(--red);
          }
        }
      }

      p {
        color: var(--gray-300);
        font: var(--text-sm);
        width: 680px;
      }
    }
  }

  .badges {
    align-self: baseline;
    display: flex;
    gap: 16px;
    justify-content: center;

    .badge {
      align-items: center;
      background-color: var(--gray-400);
      border-radius: 30px;
      color: var(--gray-200);
      display: flex;
      gap: 8px;
      padding: 8px 16px;

      img {
        height: 19px;
        width: 19px;
      }
    }
  }
}

.projects {
  padding-top: 72px;
  
  header {
    margin-bottom: 56px;
    text-align: center;

    h2 {
      color: var(--gray-100);
      font: var(--title-md);
    }
    
    h3 {
      color: var(--red);
      font: var(--subtitle);
      margin-bottom: 8px;
    }
  }

  .cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    margin-bottom: 144px;

    .card {
      background-color: var(--gray-400);
      border-radius: 12px;
      padding: 12px;
      position: relative;    
      height: 280px;
      width: 330px;

      img {
        border-radius: 8px;
        object-fit: cover;     
        width: 100%;
      }

      .badges {
        background-color: var(--gray-400);
        border-radius: 4px;
        bottom: 40%;
        display: flex;
        right: 50%;
        gap: 8px;
        transform: translate(50%, 50%);
        padding: 4px;
        position: absolute;

        img {
          height: 32px;
          width: 32px;
        }
      }

      figcaption {
        margin-top: 20px;

        h3 {
          color: var(--gray-100);
          font: var(--title-sm);
          margin-bottom: 8px;
        }

        p {
          color: var(--gray-200);
          font: var(--text-sm);
        }
      }
    }
  }
}

.services {
  background-color: var(--gray-600);
  padding-top: 88px;
  padding-bottom: 120px;

  header {
    margin-bottom: 56px;
    text-align: center;

    h3 {
      color: var(--red);
      font: var(--subtitle);
      margin-bottom: 8px;
    }

    h2 {
      color: var(--gray-100);
      font: var(--title-md);
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 24px;

    .card {
      border: 2px solid var(--gray-400);
      border-radius: 12px;
      padding: 20px;
      height: 155px;
      width: 280px;

      img {
        margin-bottom: 20px;
        height: 48px;
        width: 48px;
      }

      figcaption {
        h3 {
          margin-bottom: 8px;
          color: var(--gray-100);
          font: var(--title-sm);
        }

        p {
          color: var(--gray-200);
          font: var(--text-sm);
        }
      }
    }
  }
}

.contacts {
  align-items: center;
  display: flex;
  
  background-image: url('../assets/backgroundContacts.png');
  background-size: cover;
  background-position: center;
  
  flex-direction: column;
  height: 780px;
  justify-content: center;

  header {
    display: grid;
    gap: 8px;
    text-align: center;

    h3 {
      color: var(--purple);
      font: var(--subtitle);
    }

    h2 {
      color: var(--gray-100);
      font: var(--title-md);  
    }

    p {
      color: var(--gray-200);
      font: var(--text-md); 
    }
  }

  .cards {
    display: grid;
    gap: 16px;
    justify-content: center;
    list-style: none;
    margin-top: 48px;

    .link {
      text-decoration: none;

      .card {
        align-items: center;
        background-color: var(--gray-400);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 400px;
        
        div {
          align-items: center;
          display: flex;
          gap: 12px;
  
          span {
            color: var(--gray-200);
            font: var(--text-md);
          }
        }
      }
    }
  }
}